body, h1, h2, p {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #25a014;
}


header {
    background-image: url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 10px 20px;
    text-align: center;
} 

nav {
  background-color: #45a049;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3be02c;
}

section {
  padding: 20px;
  text-align: center;
}

button {
  background-color: #25a014;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #25a014;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 5px solid #25a014;
  width: 30%;
  text-align: left;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  

  .text, .image {
    padding-right: 20px;
    color: white;
    text-align: center;
  }
  
  button, nav ul li a {
    background-color: #25a014;
    color: white;
    text-decoration: none;
  }
  
  button:hover, nav ul li a:hover {
    background-color: #3be02c;
  }

  h1 {
    font-size: 2em;
    color: #0c330e;
  }
  button {
    background-color: #25a014;
    font-weight: bold;
  }

  header {
    background-image: url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .modal-content {
    background-color: white;
    border: 2px solid #25a014;
  }
  
  
  
  